numpy==2.2.4
casadi==3.7.0
mujoco==3.3.2
urdf2casadi==1.0.0
matplotlib==3.10.1
scipy==1.15.2 
plotly==6.2.0
gymnasium>=1.2
minari>=0.4.3
torch>=2.2 --index-url https://download.pytorch.org/whl/cu121

PyYAML>=6.0.1
tensorboard>=2.14
tqdm>=4.66
POT>=0.9.4
torchdiffeq==0.2.3
pandas